/* Main colors and dimensions for easy customization */
:root {
  --button-font-size: 32px;
  --button-width: 250px;
  --button-padding: 15px 30px;
  --button-radius: 20px;
  --button-login-bg: #d7d7d7; /* Light Steel Blue */
  --button-login-color: black;
  --button-login-hover-bg: #243875; /* Dodger Blue */
  --button-login-hover-color: white;
  --button-get-started-bg: #243875; /* Dark Blue */
  --button-get-started-color: white;
  --button-get-started-hover-bg: #d7d7d7; /* Light Steel Blue */
  --button-get-started-hover-color: black;
}

.app {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}

.logo {
  height: 40px;
  cursor: pointer;
}

.content {
  display: flex;
  height: 100vh;
  padding-top: 60px;
}

.left-content {
  flex: 2;
  position: relative;
}

.background-image {
  width: 100%;
  height: 100%;
}

.right-content {
  flex: 1;
  background-color: rgb(114,13,227);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Adding space between the buttons */
}

/* Styles for the buttons */
.get-started-button, .login-button {
  font-size: var(--button-font-size);
  padding: var(--button-padding);
  width: var(--button-width);
  border-radius: var(--button-radius);
  transition: 0.3s;
  text-align: center;
}

.get-started-button {
  background-color: var(--button-get-started-bg);
  color: var(--button-get-started-color);
}

.login-button {
  background-color: var(--button-login-bg);
  color: var(--button-login-color);
}

.get-started-button:hover {
  background-color: var(--button-get-started-hover-bg);
  color: var(--button-get-started-hover-color);
}

.login-button:hover {
  background-color: var(--button-login-hover-bg);
  color: var(--button-login-hover-color);
}

/* Hover effect */
.get-started-button:hover, .login-button:hover {
  transform: scale(1.05);
}

.login-input {
  width: var(--button-width);
  padding: 10px;
  border-radius: var(--button-radius);
  margin: 10px 0;
  border: 1px solid #d7d7d7;
}

.login-submit-button {
  background-color: var(--button-login-bg);
  color: var(--button-login-color);
  font-size: var(--button-font-size);
  padding: var(--button-padding);
  width: var(--button-width);
  border-radius: var(--button-radius);
  transition: 0.3s;
  text-align: center;
}

.login-submit-button:hover {
  background-color: var(--button-login-hover-bg);
  color: var(--button-login-hover-color);
  transform: scale(1.05);
}


.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.sign-up-form input {
  width: var(--button-width);
  padding: 10px;
  border: 1px solid #d7d7d7;
  border-radius: var(--button-radius);
}

.sign-up-button {
  /* You can style the sign-up button similar to other buttons */
  background-color: var(--button-login-bg);
  color: var(--button-login-color);
  font-size: var(--button-font-size);
  padding: var(--button-padding);
  border-radius: var(--button-radius);
  transition: 0.3s;
  width: var(--button-width);
  text-align: center;
}

.error-message {
  color: red;
  font-size: 14px;
}
.message {
  color: green;
  font-size: 14px;
}

.

.create-notebook-button {
  background-color: var(--button-get-started-bg);
  color: var(--button-get-started-color);
  font-size: var(--button-font-size);
  padding: var(--button-padding);
  border-radius: var(--button-radius);
  transition: 0.3s;
  text-align: center;
}

.create-notebook-button:hover {
  background-color: var(--button-get-started-hover-bg);
  color: var(--button-get-started-hover-color);
  transform: scale(1.05);
}